{% extends 'user_app/base.html' %}
{% block login_page %}
<main class="main">
    <div class="wrapper">
        <div class="container">
            <div class="title">
                <h2>Log in to your account</h2>
            </div>
            <form action="{% url 'user_app:login_page' %}" method="POST">
                {% csrf_token %}
                {{ login_form }}
                <button type="submit" class="form-btn">
                    <div>Sign in</div>
                </button>
            </form>
            <span>don't have account yet, <a class="account" href="{% url 'user_app:register_page' %}">click here</a></span>
        </div>
    </div>
</main>
{% endblock %}