{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'wishlist_app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Movier</title>
</head>
<body>

{% block list_page %}
{% endblock %}

{% block adding_page %}
{% endblock %}

{% block select_page %}
{% endblock %}

<script src="{% static 'js/script.js'%}"></script>
</body>
</html>