{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <title>Movier</title>
</head>
<body>

{% block welcome_page %}
{% endblock %}

{% block login_page %}
{% endblock %}

{% block register_page %}
{% endblock %}

{% block rating_page %}
{% endblock %}

<script src="{% static 'js/script.js'%}"></script>
</body>
</html>